# Replace the bracketed examples "[Database username]" with their final value "root"

PORT=[Server port]
NODE_ENV=[Current application environment]

SALT_SESSION=[Secret string for hashing session tokens]
SALT_DATA=[Secret string for hashing sensitive data]
SALT_ROUNDS=[Salt rounds for password hashing]

EMAIL_HOST=[Email host name]
EMAIL_PORT=[Email port]
EMAIL_USERNAME=[Email user name]
EMAIL_PASSWORD=[Email password]
FROM_EMAIL=[Email adress]

POSTGRES_USER=[Postgres user]
POSTGRES_PASSWORD=[Postgres password]
POSTGRES_DB=[Postgres database name]
POSTGRES_HOST=[Postgres host]
POSTGRES_PORT=[Postgres port]

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

URL_API="http://localhost:${PORT}"
SECRET_KEY_CRYPTO=""