services:
  database:
    image: postgres:12-alpine
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 54320:5432

volumes:
  postgres:
