<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Olá, {{name}}!</p>
    <p>Recebemos uma solicitação para redefinir a senha de sua conta no
      Routinely.</p>
    <p>Código de acesso</p>
    <h1>{{code}}</h1>
    <p>Insira este código para concluir a redefinição.</p>
    <p>Obrigado por nos ajudar a manter sua conta segura.</p>

    <p>Equipe Routinely</p>
  </body>
</html>